manifest {
    name = 'HVR Agentic OS Defaults'
    description = 'Standard execution environment bound by Zero-Trust parameters.'
}

profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
    }
    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'agent-os-compute-queue'
        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}
